body {
  background: url('./ic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #F5F5F5x;
  padding-bottom: 50px;
  padding-top: 50px;
}

.App {
  text-align: center;
}

.list {
  text-align: center;
  margin-left: 41%;
}

.clicker {
  margin-left: -75%;
  margin-bottom: 10%;
}
